*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


.section{
    width: 50%;
    padding: 30px 50px;
    border-radius: 16px;
    text-align: center;
    margin:20px auto;
    
}

.section-1{
    background-color: lightcoral;
    color:white;
    font-size: 32px;
}


.section-2{
    background-color: lightblue;
    color:white;
    font-size: 32px;
}